{% extends ":Admin:base.html.twig" %}

{% set title = context %}

{% block body_content %}
    <a href="#"><strong>{{ title }}</strong></a>

    <hr>
    <div class="grid js-masonry">
        {% for userProduct in userProducts %}
            {{ include('CmsUlysseBundle:Admin:_product.html.twig' , { 'product' : userProduct.product }) }}
        {% endfor %}
    </div>
{% endblock %}
