{% extends "::base.html.twig" %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier</h1>
    {{ form(form) }}
    <a href="{{ path('user_product_list') }}" class="btn btn-info">Retour</a>
{% endblock %}
