{% extends "::base.html.twig" %}

{% block title %}Mes produits{% endblock %}

{% block body %}
    <h1>Mes produits</h1>

    <a href="{{ path('product_list') }}" class="btn btn-primary">Vendre un nouveau produit</a>
    {{ include('CmsUlysseBundle:Cart:search.html.twig', {'products' : products}) }}
{% endblock %}
