<header>
    <section class="title header">

        {% if site is defined and site %}
            <div>
                <h1>{{ site.name }}</h1>
                {%  if  site.logo is not null and site.logo != '' %}
                    <figure id="logo" style="background: {{ path('site_logo') }};background-repeat: no-repeat;background-size: contain;"></figure>
                {% endif %}
            </div>
            <h2>{{ slogan }}</h2>
        {% else %}
            <div>
                <h1>Ulysse</h1>
            </div>
        {% endif %}
        <h2>Le super slogan d'ulysse</h2>

    </section>
    <section class="menu header">
        {#% if is_granted("IS_AUTHENTICATED_REMEMBERED")%#}
        <span class="icon user"><a href=""><i class="fa fa-user fa-lg"></i></a>
            <div id="confUser" class="iconZoom on">
                <div class="triangleA"></div>
                <div class="triangleB"></div>
                <div class="list-group card">
                    <a class="list-group-item" href="{#{ path('user_updated') }#}"><i class="fa fa-home fa-fw"></i>&nbsp; info</a>
                    <a class="list-group-item" href="{#{ path('user_command') }#}"><i class="fa fa-book fa-fw"></i>&nbsp; command</a>
                    <a class="list-group-item" href="{#{ path('vente_user') }#}"><i class="fa fa-pencil fa-fw"></i>&nbsp; sell</a>
                    <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
                    <a href="{{ path('cms_messagerie_inbox') }}">Messagerie</a>
                </div>
            </div>
        </span>
        <a href="" class="icon panier"></a>
        {#% else %#}
        <a href="" class="signin">sign in</a>
        <a href="" class="signup">sign up</a>
        {#% endif %#}
    </section>
</header>