{% extends "::base.html.twig" %}

{% block body %}
    <a href="#"><strong>Boite de Réception</strong></a>

    <hr>
    <div class="col-lg-6">
        <ul>
            <li><a href="{{ url('cms_messagerie_inbox') }}">Boite de réception</a></li>
            <li><a href="{{ url('cms_messagerie_sent') }}">Messages Envoyés</a></li>
            <li><a href="{{ url('cms_messagerie_deleted') }}">Archives</a></li>
        </ul>
    </div>
    <div class="col-lg-6">
        {% block fos_message_content %}{% endblock %}
    </div>

{% endblock %}
