{% extends ":Admin:base.html.twig" %}

{% block body_content %}
    <a href="#"><strong>Boite de Réception</strong></a>

    <hr>

    <ul>
        <li><a href="{{ url('cms_messagerie_inbox') }}">Boite de réception</a></li>
        <li><a href="{{ url('cms_messagerie_sent') }}">Messages Envoyés</a></li>
        <li><a href="{{ url('cms_messagerie_deleted') }}">Archives</a></li>
    </ul>

    {% block fos_message_content %}{% endblock %}
{% endblock %}
