{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-lg-3">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <a href="{{ url('cms_messagerie_inbox') }}" type="button" class="btn btn-default">Boite de Réception</a>
            <a href="{{ url('cms_messagerie_sent') }}" type="button" class="btn btn-default">Messages Envoyés</a>
            <a href="{{ url('cms_messagerie_deleted') }}" type="button" class="btn btn-default">Archives</a>
        </div>
    </div>
    <div class="col-lg-8">
        {% block fos_message_content %}{% endblock %}
    </div>

{% endblock %}
