{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {{ form(form) }}
    <a href="{{ path('category_list') }}"> Retour</a>
{% endblock %}
