{% extends "base.html.twig" %}

{% block body %}

   <META HTTP-EQUIV="Refresh" CONTENT="0; URL={{ path('product_list') }}">
{% block fos_user_content %}
    <p></p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
    </div>
{% endblock body %}
