{% extends "::base.html.twig" %}

{% block title %}Market{% endblock %}

{% block body %}

        <h1>Liste des produits {{ category }}</h1>
        {% include 'CmsUlysseBundle:Cart:search.html.twig' with { ' products': products }  %}

{% endblock %}