{% extends "::base.html.twig" %}

{% block title %}Market{% endblock %}

{% block body %}

    <div id="results">
        <h1>Liste des produits {{ category }}</h1>
            {% include 'CmsUlysseBundle:Cart:search.html.twig' with { ' products': products }  %}
    </div>
{% endblock %}