/**
*create by Navière Pascal
*/
@import url("demo.css");
@import url("intlTellnput.css");
@import url("css/font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab);

html{

    overflow-x: hidden;
    overflow-y: auto;
}

.icon{
    display:inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width:35px;
    height:35px;
    box-sizing: padding-box;
    background: #7DB122;
    font-size: 14pt;
    margin:2px 35px;
}
.icon>a>i.fa {
    color:white;
    display:inline-block;
    margin:auto;
    text-align: center;
    width: 100%;
    padding-top: 8px;
}
.icon{
    margin:2px 2px;
}
.tag-list .descriptIcon{
    width: 115px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.tag-list ul{
    display: inline-block;
    vertical-align: middle;
}
.card{
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    height: 362px;
}
.product_image {
    max-width: 100%;
    height: 263px;
    display: block;
    border: 1px solid #F0F0F0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}
p.title {
    height: 42px;
    overflow: hidden;
}