{% extends "base.html.twig" %}

{% block body %}
    
    {% block fos_user_content %}

        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            html, body {
                height: 100%;
                background-color: #4CB1CA;
                font-family: "Roboto Slab", serif;
                color: white;
            }

            .preload * {
                transition: none !important;
            }

            label {
                display: block;
                font-weight: bold;
                font-size: small;
                text-transform: uppercase;
                font-size: 0.7em;
                margin-bottom: 0.35em;
            }

            input[type="text"], input[type="password"] {
                width: 100%;
                border: none;
                padding: 0.5em;
                border-radius: 2px;
                margin-bottom: 0.5em;
                color: #333;
            }
            input[type="text"]:focus, input[type="password"]:focus {
                outline: none;
                box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.3);
            }

            button {
                padding-left: 1.5em;
                padding-right: 1.5em;
                padding-bottom: 0.5em;
                padding-top: 0.5em;
                border: none;
                border-radius: 2px;
                background-color: #7E5AF1;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
                color: white;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
            }

            button {
                padding-left: 1.5em;
                padding-right: 1.5em;
                padding-bottom: 0.5em;
                padding-top: 0.5em;
                border: none;
                border-radius: 2px;
                background-color: #7DB122;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
                color: white;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
            }

            small {
                font-size: 1em;
            }

            .login--login-submit {
                float: right;
            }

            .login--container {
                width: 600px;
                background-color: #4CB1CA;
                margin: 0 auto;
                position: relative;
                top: 25%;
            }

            .login--toggle-container {
                position: absolute;
                background-color: #4CB1CA;
                right: 0;
                line-height: 2.5em;
                width: 50%;
                height: 120px;
                text-align: right;
                cursor: pointer;
                transform: perspective(1000px) translateZ(1px);
                transform-origin: 0% 0%;
                transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
                backface-visibility: hidden;
            }
            .login--toggle-container .js-toggle-login {
                font-size: 4em;
                text-decoration: underline;
            }
            .login--active .login--toggle-container {
                transform: perspective(1000px) rotateY(180deg);
                background-color: #bc1012;
            }

            .login--username-container, .login--password-container {
                float: left;
                background-color: #4CB1CA;
                width: 50%;
                height: 120px;
                padding: 0.5em;
            }

            .login--username-container {
                transform-origin: 100% 0%;
                transform: perspective(1000px) rotateY(180deg);
                transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
                background-color: #bc1012;
                backface-visibility: hidden;
            }
            .login--active .login--username-container {
                transform: perspective(1000px) rotateY(0deg);
                background-color: #4CB1CA;
            }
        </style>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class='preload login--container'>
            <div class='login--form'>
                <div class='login--username-container'>
                    <label>E-mail</label>
                    <input autofocus placeholder='e-mail' type='text' id="username" name="_username" value="{{ last_username }}" required="required">
                </div>
                <div class='login--password-container'>
                    <label>Password</label>
                    <input placeholder='Password' type='password' id="password" name="_password" required="required">

                    <button class='js-toggle-login login--login-submit'>Login</button>
                    <!--a href="{#{ path('fos_user_resetting_request') }#}">Mot de passe oublié</a-->
                    <br />
                    <a style="z-index:0" class="btn btn-primary btn-large" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="{{ 'registration.facebook.submit'|trans }}">
                         facebook
                    </a>
                </div>
            </div>
            <div class='login--toggle-container'>
                <small>Hey you,</small>
                <div class='js-toggle-login'>Login</div>
                <small>already</small>
            </div>
        </div>

        </section>



        <script>
            (function () {
                $('.login--container').removeClass('preload');
                this.timer = window.setTimeout(function (_this) {
                    return function () {
                        return $('.login--container').toggleClass('login--active');
                    };
                }(this), 2000);
                $('.js-toggle-login').click(function (_this) {
                    return function () {
                        window.clearTimeout(_this.timer);
                        $('.login--container').toggleClass('login--active');
                        return $('.login--username-container input').focus();
                    };
                }(this));
            }.call(this));
        </script>

    {% endblock fos_user_content %}

{% endblock body %}