/**
*create by Navière Pascal
*/
@import url("../../../css/demo.css");
@import url("../../../css/intlTellnput.css");
@import url("../../../css/css/font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab);

* {
    padding:0;
    margin:0;
    font-family: 'Roboto', 'Roboto Condensed', 'Roboto Mono', 'Roboto Slab',  sans-serif;Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.428571429;
    color: #333;
}
header{
    width:100%;
    /*height:140px;*/
    border-bottom: 1px solid #A8A8A8;

}
.title.header,
.menu.header
{
    display:inline-block;
    vertical-align: middle;
}
.title.header h2{
    visibility: hidden;
    transition: .5s All;
    font-size: 10pt;
    text-align:center;
    font-weight: 300;
    opacity:0.8;
    margin-top: -10px;
}
.title.header:hover h2{
    visibility: visible;
    transition: .5s All;
}
.title.header{
    width:200px;
    font-size:25pt;
    border-right: 1px solid #A8A8A8;
}
.title.header h1{
    font-size:32pt;
    font-weight: 900;
    text-align:center;
}
.menu.header{

}
.off{
    display:none;
}
.on{
    display:block;
}
.iconZoom{
    padding-top: 11px;
    padding-left:11px;
    position: absolute;
    width: 180px;
    top: 44px;
    margin-left: -131px;/*ie8*/
    margin-left: calc( ( -180px + 18px ) / 2 );
    z-index: 999;
}
.card{
    border: 1px solid  #CCCCCC;
    border-radius: 5px;
    background: #FFFFFF;
}
.card>*{
    display: block;
    padding:5px;
    box-sizing: padding-box;
    border-bottom:1px solid #CCCCCC;
}
.triangleA{
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 11px 12px;
    border-color: transparent transparent #FFF;
    position: absolute;
    margin-top: -11px ;
    left:134px; /*ie8*/
    left: calc( 50% - 10px / 2 );
    z-index: 101;

}
.triangleB{
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 12px 13px;
    border-color: transparent transparent #CCCCCC;
    position: absolute;
    margin-top: -12px ;
    left:134px; /*ie8*/
    left: calc( 50% - 12px / 2 );
    z-index: 100;

}
a{
    text-decoration: none;
    color: #333;

}
.icon{
    display:inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width:35px;
    height:35px;
    box-sizing: padding-box;
    background: #333;
    font-size: 14pt;
    margin:2px 35px;
}
.icon>a>i.fa {
    color:white;
    display:inline-block;
    margin:auto;
    text-align: center;
    width: 100%;
    padding-top: 8px;
}
fieldset.disabled{
    display:none;
}
fieldset{
    border:none;
}

/*------------form------------*/
input{
    border-radius:25px;
    border:1px solid rgba(0,0,0,0.05);
    padding:4px 12px;
    margin:5px;
    font-weight:300;
    letter-spacing: 1.5 ;
}
input:placeholder{
    letter-spacing: 1.5 ;
}

/*------------form------------*/
/*------------form:inscription------------*/
fieldset.disabled{
    display:none;
}
fieldset{
    border:none;
}
/*-------card---------*/

.item{
    border: 1px solid rgba(0,0,0,0.05);
    margin: 10px 5px;
    padding: 0px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.05);
    width: 195px;
    height: 255px;
    overflow: hidden;
}

.item>*{
    padding: 10px;
}

.item .img{
    height: calc(100% / 3 * 2);
    padding: 0px;
    margin: 0;
    background-repeat: no-repeat;
}
.item .img .note{
}
.item .img .promo{

}
.item .img .zoom{
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.2);
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: calc(50% - 22px);
    box-sizing: padding-box;
    cursor:pointer;
    visibility: hidden;
    transition: .5s all;
    opacity:0;
}

.item .img:hover .zoom{
    visibility: visible;
    opacity:1;
    transition: .5s all;
}
.item .description{
    padding: 0px;
    background: rgb(255,255,255);
    height: calc(100% / 3 * 1);
}
.item .description .descriptionInfo{
    padding-bottom: 5px;
}
.item .description .descriptionInfo .title{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18pt;
    letter-spacing: 1.2px;
    padding: 2px 5px 0px 5px;
    text-align: center;
}
.item .description .descriptionInfo .price{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 200;
    font-size: 10pt;
}
.item .description .btnCART{
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 5px 25px;
    margin-left: calc(100% / 2 - 66px);
    color: rgba(255,255,255,0.8);
    background: rgba(0,0,0,0.9);
    cursor:pointer;
}
.btn.round{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding:2px 8px;
}