{% extends "::base.html.twig" %}

{% block title %}HomePage{% endblock %}

{% block body %}

{#paginator#}

    {# include 'CmsUlysseBundle:Main:slider.html.twig' with { 'slides': slides } only  #}
<section class="body">
    <div class="wrap">
        <div class="section group">
            <div class="colonneA">
                testL
            </div>
            <div class="colonneB">
                {%  include 'CmsUlysseBundle:Main:featuredProducts.html.twig' with { 'category': products } only  %}
                {%  include 'CmsUlysseBundle:Main:newProducts.html.twig' with { 'category': products } only  %}
            </div>
            <div class="colonneC">
                testR
            </div>
        </div>
    </div>
</section>

{% endblock %}

