{% extends "::base.html.twig" %}

{% block title %}HomePage{% endblock %}

{% block body %}

{#paginator#}
{#hwi-oauth-bundle#}

    {# include 'CmsUlysseBundle:Main:slider.html.twig' with { 'slides': slides } only  #}
<section class="main">
    <div class="wrap">
        <div class="section group">
            <div class="cont span_2_of_3">
                {%  include 'CmsUlysseBundle:Main:featuredProducts.html.twig' with { 'category': products } only  %}
                {%  include 'CmsUlysseBundle:Main:newProducts.html.twig' with { 'category': products } only  %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

