<!-- start slider -->
<div id="fwslider">
    <div class="slider_container">

        {%  for slide in slides %}
        <div class="slide">
            <!-- Slide image -->
            <img src="{{ slide.img }}" alt=""/>
            <!-- /Slide image -->
            <!-- Texts container -->
            <div class="slide_content">
                <div class="slide_content_wrap">
                    <!-- Text title -->
                    <h4 class="title">{{ slide.title }}</h4>
                    <!-- /Text title -->

                    <!-- Text description -->
                    <p class="description">{{ slide.description }}</p>
                    <!-- /Text description -->
                </div>
            </div>
            <!-- /Texts container -->
        </div>
       {% endfor %}

    </div>
    <div class="timers"></div>
    <div class="slidePrev"><span></span></div>
    <div class="slideNext"><span></span></div>
</div>
<!--/slider -->