{% set context = is_granted('ROLE_ADMIN') ?  ":Admin:base.html.twig" :  ':include:message_layout.html.twig' %}
{% extends context %}

{% if is_granted('ROLE_ADMIN')  %}
    {% block body_content %}
        <a href="#"><strong>Archives</strong></a>

        <hr>
        {% include 'CmsUlysseBundle:Message:threads_list.html.twig' with {'threads': threads} %}

    {% endblock %}
{% else %}
    {% block fos_message_content %}
        <h2 style="color: #003366;">Discussions Archivées</h2>
        <hr>
        {% include 'CmsUlysseBundle:Message:threads_list.html.twig' with {'threads': threads} %}
    {% endblock %}
{% endif %}