{% extends ':include:message_layout.html.twig' %}

{% block fos_message_content %}

<h2>deleted</h2>

    {% include 'CmsUlysse:Message:threads_list.html.twig' with {'threads': threads} %}

    {# % include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} % #}

{% endblock %}
