{% extends ':include:message_layout.html.twig' %}

{% block fos_message_content %}

<h2>Boite de Réception</h2>

<a href="{{ url('cms_messagerie_thread_new' )}}">Nouveau Message</a>

{% include 'CmsUlysseBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
