{% extends "::base.html.twig" %}

{% block title %}CmsUlysseBundle:Message:index{% endblock %}

{% block body %}
<h1>Welcome to the Message:index page</h1>

    {% if not fos_message_is_read(message) %} This message is new! {% endif %}

    You have {{ fos_message_nb_unread() }} new messages

{% endblock %}
