{% extends "::base.html.twig" %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <h1>messenger</h1>

    <ul>
        <li><a href="{{ url('cms_messagerie_inbox') }}">inbox</a></li>
        <li><a href="{{ url('cms_messagerie_sent') }}">sent</a></li>
        <li><a href="{{ url('cms_messagerie_deleted') }}">deleted</a></li>
    </ul>

    {% block fos_message_content %}{% endblock %}
{% endblock %}
